/* re.css */

input,
textarea {
  border: none;
  border-bottom: 1px solid #490057;
  outline: none;
  width: 100%;
  padding: 8px 0;
  background-color: transparent;
  color: #490057;
  font-size: 16px;
}
.header {
  position: absolute;
  top: 0px;
  margin-top: 25px;
  /* left: 20px; */
  left: 0;
  margin-left:20px;
  font-size: 5em;
  color: #490057;
  /* animation: scaleDown 1s ease-out forwards;  */
}
/* input:focus,
textarea:focus {
  border-bottom: 2px solid #490057;
} */

input::placeholder,
textarea::placeholder {
  color: #490057;
}

input[type="password"] + .RegisterInputAdornment {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="password"] {
  width: calc(100% - 24px); 
}

.RegisterInputContainer {
  position: relative;
}

.RegisterInputContainer .RegisterInputAdornment {
  position: absolute;
  right: 0;
  bottom: 8px;
  
}
.RegisterInputAdornment{
color:#490057 ;
}
.RegisterErrorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.RegisterButton {
  background-color: #490057;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  display: block;
  margin: auto;
  font-size: large;
}

.RegisterButton:hover {
  background-color: #36003a;
}

.RegisterSignInLink {
  color: #d78b11;
  text-decoration: none;
}

.RegisterSignInLink:hover {
  text-decoration: underline;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RegisterContainer {
  padding: 50px 20px;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

.RegisterTitle {
  text-align: center;
  font-weight: bold;
  color: #490057;
}

.RegisterLink {
    color: #490057;
  text-align: center;
}