
.profile-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 35px;

  border-radius: 10px;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.profile-details-left {
  display: flex;
  flex-direction: column;
}

.profile-details-left h1 {
  margin: 0;
  color: #490057;
  font-family: 'Poppins, sans-serif';
}

.profile-details-left h4 {
  margin: 5px 0 10px;
  color: #750373;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
}

.edit-button button {
  border: 1px solid #490057;
  background-color: #f3f3f3;
  color: #490057;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 172px;
  height: 44.67px;
  font-size: 16px;
}

.edit-button button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #490057;
}

.edit-button button:active {
  transform: scale(0.9);
}

.profile-details {
  max-width: 100%;
  display: flex;
  /* justify-content: space-between; */
 
margin-left: 160px;
  justify-content: center;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.about, .posts, .suggestions {
  flex: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.about {
  width: 160px;
  color: #490057;
  border: 1px solid #f3f3f3;
  background-color: #ede9ed;
  padding: 10px;
  height: fit-content;
}

.posts {

  color: #490057;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.suggestions {
width: 210px;
  color: #490057;
  border: 1px solid #f3f3f3;
  background-color: #ede9ed;
  padding: 10px;
  height: fit-content;
}

.my-button button {
  color: #490057;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.my-button:hover button {
  background-color: #f3edf7;
}

.profile-details .about h3 {
  margin-left: 10px;
}

.profile-details .about ul {
  list-style: none;
  padding: 0;
}

.profile-details .about ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profile-details .about ul li svg {
  margin-right: 5px;
}
.edit-button button {
  text-transform: capitalize;
}


