/* re.css */
.register-container {
  display: flex;
  height: 100vh;
  background-color: #f3f3f3;
}

.register-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.register-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #490057;
}

.register-image {
  width: 80%;
  max-width: 500px;
}

.register-form-container {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  padding: 2rem;
  background: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.register-logo {
  color: #fbb03b;
  font-family: 'Poppins, sans-serif';
  font-size: 40px;
}

.register-title {
  margin-top:0 ;
  color: #490057;
  text-align: center;
  font-family: 'Poppins, sans-serif';
}

.register-input-container {
  position: relative;
  /* margin-bottom: 1rem; */
}

.register-input {
  width: 376px;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.register-input-adornment {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #490057;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #490057;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins, sans-serif';
}

.register-footer {
  margin-top: 0;
  text-align: center;
  color: #490057;
  font-family: 'Poppins, sans-serif';
}

.register-link {
  color: #FF9B00;
  text-decoration: none;
  font-size: medium;
}
@media (max-width: 900px) {
  .register-left{
    display: none;
  }
}
@media (max-width: 700px) {
  .register-form-container {
    padding: 1rem;
  }

  .register-title {
    font-size: 1.5rem;
  }

  .register-button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .register-input {
    padding: 0.5rem;
    font-size: 0.6rem;
    width: 390px;
  }
 

}

@media (max-width: 500px) {
  .register-form-container {
    width: 300px;
    padding: 0.3rem;
  }

  .register-title {
    font-size: 1rem;
  }

  .register-input {
    padding: 0.5rem;
    font-size: 0.6rem;
    width: 270px;
  }

  .register-button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }


}